workflow.json
{"id":"Yu3rRGPd1FCNtdvY","name":"FASTA to Drug Repurposing Pipeline","active":false,"nodes":[{"id":"44b83c81-3fa7-4614-a383-3af0a2b97e34","name":"Architecture Notes","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-224,176],"parameters":{"content":"## 🧬 FASTA → Drug Repurposing\n**Production Build — n8n 2.9.4 compatible**\n\n### Rules enforced\n- 🟢 HTTP calls → HTTP Request nodes only\n- 🔴 Code nodes → pure JS transforms only\n- Every failure throws a descriptive error\n\n### Sequence size guidance\n| Size | Wait time |\n|---|---|\n| < 500bp | 90s |\n| 500–2000bp | 120s |\n| > 2000bp | 180s+ |\n\nTo change wait → open **Wait for BLAST**\nand adjust `amount`.","height":400,"width":460,"color":5}},{"id":"80eba19a-be01-4a19-b15c-9f0b60a2feb2","name":"Usage Instructions","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[272,192],"parameters":{"content":"## 📡 How to Call\n\n```bash\ncurl -X POST \\\n  YOUR_WEBHOOK_URL \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"sequence\": \">KRAS\\nATGACTGAAT...\"\n  }'\n```\n\nResponse is a full JSON with:\n- `report` (Markdown)\n- `genes` (array)\n- `keggTop` (pathways)\n- `wikiTop` (pathways)\n- `drugs` (LINCS candidates)","height":384,"width":1144,"color":3}},{"id":"25af0ee1-910a-4e5b-b026-ec42f35a1547","webhookId":"2a986fcd-3359-4401-8217-98ed1ef389d3","name":"FASTA Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-208,640],"parameters":{"httpMethod":"POST","path":"fasta-analysis","responseMode":"responseNode","options":{}}},{"id":"1e80a658-9e52-4db5-a216-135dc4cdc737","name":"Parse and Validate FASTA","type":"n8n-nodes-base.code","typeVersion":2,"position":[16,640],"parameters":{"jsCode":"// INPUT: POST body with {\"sequence\": \">Header\\nATCGATCG...\"}\nconst raw = $json.body?.sequence\n         ?? $json.sequence\n         ?? $json.body\n         ?? '';\n\nconst fastaStr = typeof raw === 'string' ? raw : JSON.stringify(raw);\nif (!fastaStr.trim()) {\n  throw new Error('Empty input. Send a POST with body: {\"sequence\": \">GeneHeader\\\\nATCGATCG...\"}');\n}\n\nconst seqs = [];\nlet cur = { header: '', seq: '' };\nfor (const line of fastaStr.split('\\n')) {\n  const t = line.trim();\n  if (t.startsWith('>')) {\n    if (cur.seq) seqs.push({ ...cur });\n    cur = { header: t.slice(1), seq: '' };\n  } else if (t && !t.startsWith(';')) {\n    cur.seq += t.toUpperCase(); // normalise to uppercase\n  }\n}\nif (cur.seq) seqs.push(cur);\n\nif (!seqs.length) {\n  throw new Error('No valid FASTA sequences found. Format: \">Header\\\\nATCGATCG...\"');\n}\n\n// Validate sequence characters\nconst validDNA = /^[ACGTNRYSWKMBDHV]+$/;\nfor (const s of seqs) {\n  if (!validDNA.test(s.seq)) {\n    throw new Error(`Sequence \"${s.header}\" contains invalid characters. Only DNA nucleotides allowed.`);\n  }\n}\n\nreturn [{ json: {\n  combinedFasta: seqs.map(s => `>${s.header}\\n${s.seq}`).join('\\n'),\n  seqCount:      seqs.length,\n  totalBases:    seqs.reduce((n, s) => n + s.seq.length, 0),\n  headers:       seqs.map(s => s.header)\n}}];"}},{"id":"c83b0659-0d99-4ae8-84a5-f041a544153c","name":"NCBI BLAST Submit","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,640],"parameters":{"method":"POST","url":"https://blast.ncbi.nlm.nih.gov/blast/Blast.cgi","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"CMD","value":"Put"},{"name":"QUERY","value":"={{ $json.combinedFasta }}"},{"name":"DATABASE","value":"refseq_rna"},{"name":"PROGRAM","value":"blastn"},{"name":"FORMAT_TYPE","value":"JSON2"},{"name":"HITLIST_SIZE","value":"20"},{"name":"EXPECT","value":"0.001"},{"name":"MEGABLAST","value":"on"},{"name":"EMAIL","value":"n8n-bot@bioinformatics.local"}]},"options":{"response":{"response":{"responseFormat":"text"}},"timeout":30000}}},{"id":"a2e40787-41f5-48a2-926e-0d791a718752","name":"Extract Request ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,640],"parameters":{"jsCode":"// Extract BLAST Request ID from NCBI's HTML response\nconst html = $json.data ?? (typeof $json === 'string' ? $json : JSON.stringify($json));\nconst ridMatch  = String(html).match(/RID\\s*=\\s*([A-Z0-9]+)/);\nconst rtoeMatch = String(html).match(/RTOE\\s*=\\s*(\\d+)/);\n\nif (!ridMatch) {\n  throw new Error(\n    'BLAST submission failed — RID not returned.\\n' +\n    'Possible causes: NCBI rate limit hit, invalid sequence, or server issue.\\n' +\n    'Preview: ' + String(html).slice(0, 300)\n  );\n}\n\nconst rid  = ridMatch[1];\nconst rtoe = rtoeMatch ? +rtoeMatch[1] : 60;\n\nreturn [{ json: {\n  rid,\n  estimatedWait: rtoe,\n  submittedAt:   new Date().toISOString(),\n  ncbiUrl:       `https://blast.ncbi.nlm.nih.gov/blast/Blast.cgi?CMD=Get&RID=${rid}`\n}}];"}},{"id":"639021f1-d248-47d8-be5f-055551649851","name":"BLAST Get Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,560],"parameters":{"url":"https://blast.ncbi.nlm.nih.gov/blast/Blast.cgi","sendQuery":true,"queryParameters":{"parameters":[{"name":"CMD","value":"Get"},{"name":"RID","value":"={{ $json.rid }}"},{"name":"FORMAT_TYPE","value":"JSON2_S"},{"name":"HITLIST_SIZE","value":"20"}]},"options":{"response":{"response":{"neverError":true,"responseFormat":"text"}},"timeout":30000}}},{"id":"07ac394a-43b6-413d-9152-67ccbbc6ff99","name":"Extract Gene Symbols","type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,560],"parameters":{"jsCode":"const rid   = $('Extract Request ID').item.json.rid;\nconst input = $json;\n\n// ── Step 1: Get raw text ──────────────────────────────────────\nlet text = '';\nif (input?.data && typeof input.data === 'string') { text = input.data; }\nelse if (input?.BlastOutput2) { text = JSON.stringify(input); }\nelse { text = JSON.stringify(input); }\n\n// ── Step 2: Check NCBI failure states ────────────────────────\nif (text.includes('Status=WAITING') || text.includes('Status=UNKNOWN')) {\n  return [{ json: { isReady: false, rid, reason: 'BLAST still processing' } }];\n}\nif (text.includes('Status=FAILED')) {\n  return [{ json: { isReady: false, rid, reason: 'BLAST job failed — resubmit' } }];\n}\nif (text.includes('RID not found')) {\n  return [{ json: { isReady: false, rid, reason: 'RID expired — resubmit' } }];\n}\n\n// ── Step 3: Parse JSON ────────────────────────────────────────\nlet blastData;\ntry {\n  blastData = input?.BlastOutput2 ? input : JSON.parse(text);\n} catch(e) {\n  return [{ json: { isReady: false, rid, reason: 'Response not JSON yet — still loading' } }];\n}\n\nif (!blastData?.BlastOutput2?.[0]?.report?.results?.search) {\n  return [{ json: { isReady: false, rid, reason: 'Invalid BLAST structure' } }];\n}\n\nconst search  = blastData.BlastOutput2[0].report.results.search;\nconst geneSet = new Set();\n\n// Keywords to skip when parsing the FASTA header\nconst SKIP = new Set(['NM','XM','NR','XR','NG','NC','CDS','MRNA','HOMO','SAPIENS',\n                      'PARTIAL','PREDICTED','TRANSCRIPT','VARIANT','COMPLETE','HUMAN']);\n\n// ── Strategy A: Parse gene name from FASTA header ─────────────\n// e.g. \">KRAS_partial_CDS_NM_004985.5_Homo_sapiens\" → KRAS  ✅\nconst queryTitle = search.query_title ?? '';\nfor (const token of queryTitle.split(/[_\\s\\.\\-]+/)) {\n  if (/^[A-Z][A-Z0-9]{1,9}$/.test(token) && !SKIP.has(token)) {\n    geneSet.add(token);\n  }\n}\n\n// ── Strategy B: Human hits ─────────────────────────────────────\n// Catches sequences with actual Homo sapiens hits\nfor (const hit of (search.hits || [])) {\n  for (const desc of (hit.description || [])) {\n    if (desc.sciname?.includes('Homo sapiens') || desc.taxid === 9606) {\n      const m = desc.title?.match(/\\(([A-Z][A-Z0-9\\-]{1,9})\\)/);\n      if (m) geneSet.add(m[1]);\n    }\n  }\n}\n\n// ── Strategy C: All hits fallback ─────────────────────────────\n// Safe for conserved genes (KRAS in macaque IS human KRAS — same symbol)\n// Your KRAS query hit primates only — this catches it  ✅\nif (geneSet.size === 0) {\n  for (const hit of (search.hits || [])) {\n    for (const desc of (hit.description || [])) {\n      const m = desc.title?.match(/\\(([A-Z][A-Z0-9\\-]{1,9})\\)/);\n      if (m) geneSet.add(m[1]);\n    }\n  }\n}\n\nif (geneSet.size === 0) {\n  return [{ json: {\n    isReady: false, rid,\n    reason: `No gene symbols found in ${search.hits?.length ?? 0} hits. ` +\n            `Add gene name to FASTA header (e.g. >KRAS) or try a longer sequence.`\n  }}];\n}\n\nconst genes = [...geneSet];\nreturn [{ json: {\n  isReady:      true,\n  genes,\n  geneString:   genes.join('\\n'),\n  geneCount:    genes.length,\n  rid,\n  totalHits:    search.hits?.length ?? 0,\n  extractedFrom: queryTitle ? 'FASTA header + BLAST hits' : 'BLAST hits',\n  completedAt:  new Date().toISOString()\n}}];"}},{"id":"66eb4ff2-7e61-46c2-9516-815f9d32e144","name":"Format Final Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[2032,640],"parameters":{"jsCode":"const genes     = $('Extract Gene Symbols').item.json;\nconst gProfiler = $('gProfiler Enrichment').item.json;\nconst dgiRaw    = $json;\n\nconst results = gProfiler?.result ?? [];\nconst kegg = results.filter(r => r.source === 'KEGG').slice(0, 5);\nconst wp   = results.filter(r => r.source === 'WP').slice(0, 5);\nconst reac = results.filter(r => r.source === 'REAC').slice(0, 5);\n\nconst geneNodes = dgiRaw?.data?.genes?.nodes ?? [];\nconst drugs = [];\nfor (const g of geneNodes) {\n  for (const ix of (g.interactions ?? [])) {\n    drugs.push({\n      gene:  g.name,\n      drug:  ix.drug?.name ?? 'N/A',\n      score: typeof ix.interactionScore === 'number' ? ix.interactionScore.toFixed(2) : 'N/A',\n      type:  (ix.interactionTypes ?? []).map(t => t.type).join(', ') || 'N/A'\n    });\n  }\n}\ndrugs.sort((a,b) => (parseFloat(b.score) || 0) - (parseFloat(a.score) || 0));\n\nconst tableRows = (arr, cols) => arr.length\n  ? arr.map(r => `<tr>${cols.map(c => `<td>${r[c] ?? ''}</td>`).join('')}</tr>`).join('')\n  : `<tr><td colspan=\"${cols.length}\" class=\"empty\">No results found</td></tr>`;\n\nconst pathwayTable = (arr) => `\n  <table>\n    <thead><tr><th>#</th><th>Pathway</th><th>p-value</th><th>adj p-value</th><th>Hits</th></tr></thead>\n    <tbody>${arr.length ? arr.map((r,i) => `\n      <tr>\n        <td>${i+1}</td>\n        <td>${r.name}</td>\n        <td>${r.p_value?.toExponential(2) ?? 'N/A'}</td>\n        <td>${r.p_value ? (r.p_value * (r.term_size ?? 1)).toExponential(2) : 'N/A'}</td>\n        <td>${r.intersection_size ?? 'N/A'}</td>\n      </tr>`).join('') : '<tr><td colspan=\"5\" class=\"empty\">No results</td></tr>'}\n    </tbody>\n  </table>`;\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\"/>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>Drug Repurposing Report — ${genes.genes.join(', ')}</title>\n  <style>\n    * { box-sizing: border-box; margin: 0; padding: 0; }\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;\n           background: #0f1117; color: #e2e8f0; padding: 2rem; }\n    .container { max-width: 1100px; margin: 0 auto; }\n    header { background: linear-gradient(135deg, #1a1f2e, #2d3748);\n             border: 1px solid #4a5568; border-radius: 12px;\n             padding: 2rem; margin-bottom: 2rem; }\n    header h1 { font-size: 1.8rem; color: #68d391; margin-bottom: 0.5rem; }\n    .meta { display: flex; gap: 2rem; flex-wrap: wrap; margin-top: 1rem; }\n    .meta-item { background: #2d3748; padding: 0.5rem 1rem;\n                 border-radius: 8px; font-size: 0.85rem; }\n    .meta-item span { color: #a0aec0; }\n    .gene-tag { display: inline-block; background: #276749; color: #9ae6b4;\n                border-radius: 20px; padding: 0.2rem 0.8rem;\n                font-size: 0.85rem; margin: 0.2rem; font-weight: 600; }\n    section { background: #1a1f2e; border: 1px solid #2d3748;\n              border-radius: 12px; padding: 1.5rem; margin-bottom: 1.5rem; }\n    section h2 { font-size: 1.2rem; color: #63b3ed; margin-bottom: 1rem;\n                 padding-bottom: 0.5rem; border-bottom: 1px solid #2d3748; }\n    table { width: 100%; border-collapse: collapse; font-size: 0.88rem; }\n    th { background: #2d3748; color: #a0aec0; text-align: left;\n         padding: 0.6rem 0.8rem; font-weight: 600; text-transform: uppercase;\n         font-size: 0.75rem; letter-spacing: 0.05em; }\n    td { padding: 0.6rem 0.8rem; border-bottom: 1px solid #2d3748; }\n    tr:last-child td { border-bottom: none; }\n    tr:hover td { background: #2d3748; }\n    .drug-name { color: #f6ad55; font-weight: 600; }\n    .score { color: #68d391; font-family: monospace; }\n    .type { color: #b794f4; font-size: 0.8rem; }\n    .empty { color: #718096; text-align: center; padding: 1.5rem; }\n    .rid { font-family: monospace; color: #fbb6ce; }\n    footer { text-align: center; color: #4a5568; font-size: 0.8rem; margin-top: 2rem; }\n  </style>\n</head>\n<body>\n<div class=\"container\">\n  <header>\n    <h1>🧬 FASTA → Drug Repurposing Report</h1>\n    <div>\n      ${genes.genes.map(g => `<span class=\"gene-tag\">${g}</span>`).join('')}\n    </div>\n    <div class=\"meta\">\n      <div class=\"meta-item\"><span>BLAST RID: </span><span class=\"rid\">${genes.rid}</span></div>\n      <div class=\"meta-item\"><span>Genes found: </span>${genes.geneCount}</div>\n      <div class=\"meta-item\"><span>BLAST hits: </span>${genes.totalHits ?? 'N/A'}</div>\n      <div class=\"meta-item\"><span>Generated: </span>${new Date().toLocaleString()}</div>\n    </div>\n  </header>\n\n  <section>\n    <h2>📈 KEGG Pathways</h2>\n    ${pathwayTable(kegg)}\n  </section>\n\n  <section>\n    <h2>🗺️ WikiPathways</h2>\n    ${pathwayTable(wp)}\n  </section>\n\n  <section>\n    <h2>🔬 Reactome</h2>\n    ${pathwayTable(reac)}\n  </section>\n\n  <section>\n    <h2>💊 Drug Interactions (DGIdb 5.0)</h2>\n    <table>\n      <thead><tr><th>#</th><th>Drug</th><th>Gene</th><th>Score</th><th>Interaction Type</th></tr></thead>\n      <tbody>\n        ${drugs.slice(0,10).length ? drugs.slice(0,10).map((d,i) => `\n          <tr>\n            <td>${i+1}</td>\n            <td class=\"drug-name\">${d.drug}</td>\n            <td>${d.gene}</td>\n            <td class=\"score\">${d.score}</td>\n            <td class=\"type\">${d.type}</td>\n          </tr>`).join('') : '<tr><td colspan=\"5\" class=\"empty\">No drug interactions found</td></tr>'}\n      </tbody>\n    </table>\n  </section>\n\n  <footer>Generated by FASTA → Drug Repurposing Pipeline · n8n · ${new Date().getFullYear()}</footer>\n</div>\n</body>\n</html>`;\n\nreturn [{ json: { html, genes: genes.genes, kegg, wp, reac, drugs: drugs.slice(0,10), generatedAt: new Date().toISOString() } }];"}},{"id":"2442281c-09b0-469d-b5f2-c74bb4daec2a","name":"Return HTTP Report","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2256,640],"parameters":{"respondWith":"text","responseBody":"=={{ $json.html }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=utf-8"}]}}}},{"id":"2b7f76e6-3f56-4ae1-9945-d31a4ecf3206","name":"Check If Ready","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1360,640],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"30041650-ee64-4d49-984d-1360f4794e74","leftValue":"={{ $json.isReady }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}}},{"id":"4b7fb1bf-9afc-4e19-9700-b1e865239a94","name":"gProfiler Enrichment","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1584,640],"parameters":{"method":"POST","url":"https://biit.cs.ut.ee/gprofiler/api/gost/profile/","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={   \"organism\": \"hsapiens\",   \"query\": {{ JSON.stringify($('Extract Gene Symbols').item.json.genes) }},   \"sources\": [\"KEGG\", \"WP\", \"REAC\"],   \"user_threshold\": 0.05,   \"significance_threshold_method\": \"fdr\",   \"no_iea\": false }","options":{}}},{"id":"fe1007ea-8a7a-4f54-bf23-c99a0cfed9c0","name":"DGIdb Drug Interactions","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,640],"parameters":{"method":"POST","url":"https://dgidb.org/api/graphql","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ query: `{ genes(names: ${JSON.stringify($('Extract Gene Symbols').item.json.genes)}) { nodes { name interactions { drug { name } interactionScore interactionTypes { type } } } } }` }) }}\n","options":{"timeout":20000}}},{"id":"19248afd-4b34-4781-a710-c952cda04d51","webhookId":"4e4ef384-a15b-4f69-bb34-f13cfe5c646a","name":"Wait for BLAST","type":"n8n-nodes-base.wait","typeVersion":1,"position":[688,640],"parameters":{"amount":20,"unit":"seconds"}}],"connections":{"FASTA Webhook":{"main":[[{"node":"Parse and Validate FASTA","type":"main","index":0}]]},"Parse and Validate FASTA":{"main":[[{"node":"NCBI BLAST Submit","type":"main","index":0}]]},"NCBI BLAST Submit":{"main":[[{"node":"Extract Request ID","type":"main","index":0}]]},"Extract Request ID":{"main":[[{"node":"Wait for BLAST","type":"main","index":0}]]},"Wait for BLAST":{"main":[[{"node":"BLAST Get Results","type":"main","index":0}]]},"BLAST Get Results":{"main":[[{"node":"Extract Gene Symbols","type":"main","index":0}]]},"Extract Gene Symbols":{"main":[[{"node":"Check If Ready","type":"main","index":0}]]},"Check If Ready":{"main":[[{"node":"gProfiler Enrichment","type":"main","index":0}],[{"node":"Wait for BLAST","type":"main","index":0}]]},"gProfiler Enrichment":{"main":[[{"node":"DGIdb Drug Interactions","type":"main","index":0}]]},"DGIdb Drug Interactions":{"main":[[{"node":"Format Final Report","type":"main","index":0}]]},"Format Final Report":{"main":[[{"node":"Return HTTP Report","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true,"callerPolicy":"workflowsFromSameOwner"},"tags":[],"isArchived":false}